@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    margin: 0;
    background: #fff;
    color: #08060d;
  }

  * {
    box-sizing: border-box;
  }
}
